.navigation{
    width: 100%;
    padding: 4rem;
    background: #FFFFFF;
    /* position: fixed;*/
    display: flex;
    justify-content: space-between;
}

.navigation__logo{
    font-size: 8rem;
    color: #FF7E1D;
}

@media screen and (max-width:1000px){
    .navigation__logo{
        font-size: 4rem;
    }
    
}

.navigation__ul{
    display: flex;
    font-size: 100%;
    align-items: center;
    gap: 20rem;
}

.navigation__li{
    list-style: none;
    font-size: 3rem;
    transition: 0.5s;
    color: #413D45;

}

.navigation__login{
    font-size: 2.5rem;
    background: #084FFF;
    color: #FFFFFF;
    border: none;
    padding: 1rem 4rem;
    border-radius: 3rem;
    transition: 0.2s;
}

.login{
    color: #FFFFFF;
}

.navigation__login:hover{
    background: hsl(223, 100%, 42%);
    cursor: pointer;
}

.navigation__over{ 
    display:inline-block; 
    margin:0;
}

.navigation__over:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navigation__over:hover:after { transform: scaleX(1); }

.navigation__features{ 
    display:inline-block; 
    margin:0;
}

.navigation__features:after {
  display:block;
  content: '';
  border-bottom: solid 3px #FF7E1D; 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navigation__features:hover:after { transform: scaleX(1); }

.navigation__prijs{ 
    display:inline-block; 
    margin:0;
}

.navigation__prijs:after {
  display:block;
  content: '';
  border-bottom: solid 3px #A273C6;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navigation__prijs:hover:after { transform: scaleX(1); }

.navigation__contact{ 
    display:inline-block; 
    margin:0;
}

.navigation__contact:after {
  display:block;
  content: '';
  border-bottom: solid 3px #033FFF;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navigation__contact:hover:after { transform: scaleX(1); }

.navigation__logo:hover{
    cursor: pointer;
}

.navigation__li:hover{
    cursor:pointer;

}

.login:hover{
    background: hsl(223, 100%, 32%);
    cursor: pointer;
}