.section{
    padding-bottom: 10rem;
}

.section__header{
    padding: 4rem;
    margin-left: 15rem;
    justify-content: center;
}

.section__h2{
    font-size: 10rem;
    font-family: 'Lateef', cursive;
    font-weight: 400;
    color: #413D45;
}

.section__wrapper{
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
}

.section__p{
    font-family: 'Lateef', cursive;
    color: #413D45;
    font-size: 5rem;
}

.section__blob{
    position: absolute;
    z-index: -1;
}

.blob1{
    width: 80rem;
    left: 30rem;
    top: 20rem;
}
.blob2{
    width: 60rem;
    left: 20rem;
    top: 25rem;
}
.blob3{
    width: 100rem;
    left: 25rem;
    top: 50rem;
}

@media screen and (max-width:1850px) {
    .section__header{
        margin-left: 0;
    }
   }